<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.Account_dispatchMapper">
	<resultMap id="BaseResultMap" type="Account_dispatch">
		<id column="a_d_id" property="aDId" jdbcType="INTEGER" />
		<result column="u_id" property="uId" jdbcType="INTEGER" />
		<result column="c_d_id" property="cDId" jdbcType="INTEGER" />
		<result column="a_d_price" property="aDPrice" jdbcType="DOUBLE" />
		<result column="a_d_explain" property="aDExplain" jdbcType="VARCHAR" />
		<result column="a_d_time" property="aDTime" jdbcType="TIMESTAMP" />
		<result column="a_id" property="aId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		a_d_id, u_id, c_d_id, a_d_price, a_d_explain, a_d_time, a_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from account_dispatch
		where a_d_id = #{aDId,jdbcType=INTEGER}
	</select>
	
	<!-- 根据申请单id查询报销单 -->
	<select id="accountdispathDealByaId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	SELECT ad.u_id,ad.a_id,ad.a_d_price,u.u_name uName,ad.a_d_time,ad.a_d_explain,
		cd.c_d_name cdName,a.a_even aEven,a.a_state  aState 
		<!-- ,ra.r_a_result rAResult -->

	FROM account_dispatch ad 
	
	INNER JOIN (SELECT * from category_dispatch) cd ON cd.c_d_id = ad.c_d_id INNER JOIN 
	
	(SELECT * from apply WHERE a_id = #{aId,jdbcType=INTEGER}) a  ON a.a_id = ad.a_id INNER JOIN 
	 (SELECT * FROM `user`) u ON u.u_id=ad.u_id <!-- INNER JOIN (SELECT * FROM result_apply ) ra ON ra.a_id = a.a_id -->
	</select>
	
	
	<!-- 员工查询自己报销单 -->
	<select id="accountdispathDealByuId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT ad.u_id,ad.a_id,ad.a_d_price,u.u_name uName,ad.a_d_time,
		ad.a_d_explain,cd.c_d_name cdName,a.a_even aEven,a.a_state  aState
		FROM account_dispatch ad 
		
		INNER JOIN (SELECT * from category_dispatch) cd ON cd.c_d_id = ad.c_d_id INNER JOIN 
		
		(SELECT * from apply) a  ON a.a_id = ad.a_id INNER JOIN 
		
		
		 (SELECT * FROM `user` WHERE `user`.u_id = #{uId,jdbcType=INTEGER}) u ON u.u_id=ad.u_id 
	</select>
	
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from account_dispatch
		where a_d_id = #{aDId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="Account_dispatch">
		insert into account_dispatch (a_d_id, u_id, c_d_id,
		a_d_price, a_d_explain, a_d_time,
		a_id)
		values (#{aDId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER},
		#{cDId,jdbcType=INTEGER},
		#{aDPrice,jdbcType=DOUBLE}, #{aDExplain,jdbcType=VARCHAR}, #{aDTime,jdbcType=TIMESTAMP},
		#{aId,jdbcType=INTEGER})
	</insert>
	
	
	
	
	<insert id="insertSelective" parameterType="Account_dispatch">
		insert into account_dispatch
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="aDId != null">
				a_d_id,
			</if>
			<if test="uId != null">
				u_id,
			</if>
			<if test="cDId != null">
				c_d_id,
			</if>
			<if test="aDPrice != null">
				a_d_price,
			</if>
			<if test="aDExplain != null">
				a_d_explain,
			</if>
			<if test="aDTime != null">
				a_d_time,
			</if>
			<if test="aId != null">
				a_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="aDId != null">
				#{aDId,jdbcType=INTEGER},
			</if>
			<if test="uId != null">
				#{uId,jdbcType=INTEGER},
			</if>
			<if test="cDId != null">
				#{cDId,jdbcType=INTEGER},
			</if>
			<if test="aDPrice != null">
				#{aDPrice,jdbcType=DOUBLE},
			</if>
			<if test="aDExplain != null">
				#{aDExplain,jdbcType=VARCHAR},
			</if>
			<if test="aDTime != null">
				#{aDTime,jdbcType=TIMESTAMP},
			</if>
			<if test="aId != null">
				#{aId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	
	
	<update id="updateByPrimaryKeySelective" parameterType="Account_dispatch">
		update account_dispatch
		<set>
			<if test="uId != null">
				u_id = #{uId,jdbcType=INTEGER},
			</if>
			<if test="cDId != null">
				c_d_id = #{cDId,jdbcType=INTEGER},
			</if>
			<if test="aDPrice != null">
				a_d_price = #{aDPrice,jdbcType=DOUBLE},
			</if>
			<if test="aDExplain != null">
				a_d_explain = #{aDExplain,jdbcType=VARCHAR},
			</if>
			<if test="aDTime != null">
				a_d_time = #{aDTime,jdbcType=TIMESTAMP},
			</if>
			<if test="aId != null">
				a_id = #{aId,jdbcType=INTEGER},
			</if>
		</set>
		where a_d_id = #{aDId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="Account_dispatch">
		update account_dispatch
		set u_id = #{uId,jdbcType=INTEGER},
		c_d_id = #{cDId,jdbcType=INTEGER},
		a_d_price = #{aDPrice,jdbcType=DOUBLE},
		a_d_explain = #{aDExplain,jdbcType=VARCHAR},
		a_d_time = #{aDTime,jdbcType=TIMESTAMP},
		a_id = #{aId,jdbcType=INTEGER}
		where a_d_id = #{aDId,jdbcType=INTEGER}
	</update>
</mapper>