<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.AnnouncementMapper">
	<resultMap id="BaseResultMap" type="Announcement">
		<id column="Announcement_id" property="announcementId" jdbcType="INTEGER" />
		<result column="Announcement_title" property="announcementTitle" jdbcType="VARCHAR" />
		<result column="Announcement_content" property="announcementContent" jdbcType="VARCHAR" />
		<result column="u_id" property="uId" jdbcType="INTEGER" />
		<result column="Announcement_create_time" property="announcementCreateTime" jdbcType="TIMESTAMP" />
		<result column="Announcement_type" property="announcementType" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		Announcement_id, Announcement_title, Announcement_content, u_id,
		Announcement_create_time,Announcement_type
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from announcement
		where Announcement_id = #{announcementId,jdbcType=INTEGER}
	</select>
	
	<!-- 获取所有公告信息，并显示用户名 -->
	<select id="selectAdver" resultMap="BaseResultMap">
		select
		a.Announcement_id, a.Announcement_title, a.Announcement_content, a.u_id,
		a.Announcement_create_time,a.Announcement_type,u.u_name as uname
		from announcement a left join user u on a.u_id=u.u_id order by a.Announcement_id
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from announcement
		where Announcement_id = #{announcementId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="Announcement">
		insert into announcement (Announcement_id, Announcement_title,
		Announcement_content, u_id, Announcement_create_time,Announcement_type
		)
		values (#{announcementId,jdbcType=INTEGER},
		#{announcementTitle,jdbcType=VARCHAR},
		#{announcementContent,jdbcType=VARCHAR}, #{uId,jdbcType=INTEGER},
		#{announcementCreateTime,jdbcType=TIMESTAMP},#{announcementType,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="Announcement">
		insert into announcement
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="announcementId != null">
				Announcement_id,
			</if>
			<if test="announcementTitle != null">
				Announcement_title,
			</if>
			<if test="announcementContent != null">
				Announcement_content,
			</if>
			<if test="uId != null">
				u_id,
			</if>
			<if test="announcementCreateTime != null">
				Announcement_create_time,
			</if>
			<if test="announcementType != null">
				Announcement_type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="announcementId != null">
				#{announcementId,jdbcType=INTEGER},
			</if>
			<if test="announcementTitle != null">
				#{announcementTitle,jdbcType=VARCHAR},
			</if>
			<if test="announcementContent != null">
				#{announcementContent,jdbcType=VARCHAR},
			</if>
			<if test="uId != null">
				#{uId,jdbcType=INTEGER},
			</if>
			<if test="announcementCreateTime != null">
				#{announcementCreateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="announcementType != null">
				#{announcementType,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="Announcement">
		update announcement
		<set>
			<if test="announcementTitle != null">
				Announcement_title = #{announcementTitle,jdbcType=VARCHAR},
			</if>
			<if test="announcementContent != null">
				Announcement_content = #{announcementContent,jdbcType=VARCHAR},
			</if>
			<if test="uId != null">
				u_id = #{uId,jdbcType=INTEGER},
			</if>
			<if test="announcementCreateTime != null">
				Announcement_create_time =
				#{announcementCreateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="announcementType != null">
				Announcement_type =
				#{announcementType,jdbcType=INTEGER},
			</if>
		</set>
		where Announcement_id = #{announcementId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="Announcement">
		update announcement
		set Announcement_title = #{announcementTitle,jdbcType=VARCHAR},
		Announcement_content = #{announcementContent,jdbcType=VARCHAR},
		u_id = #{uId,jdbcType=INTEGER},
		Announcement_create_time = #{announcementCreateTime,jdbcType=TIMESTAMP},
		Announcement_type = #{announcementType,jdbcType=INTEGER}
		where Announcement_id = #{announcementId,jdbcType=INTEGER}
	</update>
</mapper>