<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.entity.Dept" >
    <id column="d_id" property="dId" jdbcType="INTEGER" />
    <result column="d_name" property="dName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    d_id, d_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dept
    where d_id = #{dId,jdbcType=INTEGER}
  </select>

  <!-- 获取所有 -->
  <select id="selectList" resultType="Dept">
  	select d_id dId,d_name dName from dept
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dept
    where d_id = #{dId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Dept" >
    insert into dept (d_id, d_name)
    values (#{dId,jdbcType=INTEGER}, #{dName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Dept" >
    insert into dept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dId != null" >
        d_id,
      </if>
      <if test="dName != null" >
        d_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dId != null" >
        #{dId,jdbcType=INTEGER},
      </if>
      <if test="dName != null" >
        #{dName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Dept" >
    update dept
    <set >
      <if test="dName != null" >
        d_name = #{dName,jdbcType=VARCHAR},
      </if>
    </set>
    where d_id = #{dId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Dept" >
    update dept
    set d_name = #{dName,jdbcType=VARCHAR}
    where d_id = #{dId,jdbcType=INTEGER}
  </update>
  
 <!-- 申请流程 -->
 	<select id="getDeptPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		d.*,
		u.u_id as uId
		from dept
		d INNER JOIN user u ON u.d_id=d.d_id where u.u_id=#{uId}
	</select>
	<select id="getAllDept" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from dept
	</select>
  
</mapper>