<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.User_roleMapper">
	<resultMap id="BaseResultMap" type="User_role">
		<id column="u_r_id" property="uRId" jdbcType="INTEGER" />
		<result column="u_id" property="uId" jdbcType="INTEGER" />
		<result column="r_id" property="rId" jdbcType="INTEGER" />
		<result column="give_power_time" property="give_Power_Time" jdbcType="DATE" />
	</resultMap>
	<sql id="Base_Column_List">
		u_r_id, u_id, r_id,give_power_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user_role
		where u_r_id = #{uRId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user_role
		where u_r_id = #{uRId,jdbcType=INTEGER}
	</delete>
	
	
	<!-- 按uid删除uid对应的所有用户角色关系 -->
	<delete id="deleteUserRoleByRid" parameterType="java.lang.Integer">
		delete from user_role
		where r_id = #{rId,jdbcType=INTEGER}
	</delete>
	<!-- 按uid删除uid对应的所有用户角色关系 -->
	<delete id="deleteUserRoleByUid" parameterType="java.lang.Integer">
		delete from user_role
		where u_id = #{uId,jdbcType=INTEGER}
	</delete>
	
	
	
	
	<insert id="insert" parameterType="User_role">
		insert into user_role (u_r_id, u_id, r_id,give_power_time
		)
		values (#{uRId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER},#{rId,jdbcType=INTEGER},
		#{give_Power_Time,jdbcType=DATE}
		)
	</insert>
	<insert id="insertSelective" parameterType="User_role">
		insert into user_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uRId != null">
				u_r_id,
			</if>
			<if test="uId != null">
				u_id,
			</if>
			<if test="rId != null">
				r_id,
			</if>
			<if test="give_Power_Time != null">
				give_power_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uRId != null">
				#{uRId,jdbcType=INTEGER},
			</if>
			<if test="uId != null">
				#{uId,jdbcType=INTEGER},
			</if>
			<if test="rId != null">
				#{rId,jdbcType=INTEGER},
			</if>
			<if test="give_Power_Time != null">
				#{give_power_time,jdbcType=DATE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="User_role">
		update user_role
		<set>
			<if test="uId != null">
				u_id = #{uId,jdbcType=INTEGER},
			</if>
			<if test="rId != null">
				r_id = #{rId,jdbcType=INTEGER},
			</if>
			<if test="give_Power_Time != null">
				give_power_time = #{give_Power_Time,jdbcType=DATE},
			</if>
		</set>
		where u_r_id = #{uRId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="User_role">
		update user_role
		set u_id = #{uId,jdbcType=INTEGER},
		r_id = #{rId,jdbcType=INTEGER}
		give_power_time = #{give_Power_Time,jdbcType=DATE}
		where u_r_id = #{uRId,jdbcType=INTEGER}
	</update>
	
	
	<!-- 通过用户Uid 获取用户角色中间表 -->
	<select id="getUserRoles" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user_role
		where u_id = #{uId,jdbcType=INTEGER}
	</select>
</mapper>